* {

    scroll-behavior: smooth;
	margin: 0;
	padding: 0;

}

:root {

    --base-color: #7A93C2;
	--base-variant: #9EB2CA;
	--text-color: black;
	--secondary-color: #C0CAD7;
	--primary-color: #5F95CE;

}

.darkmode {

    --base-color: #31445a;
	--base-variant: #778da9;
	--text-color: #e0e1dd;
	--secondary-color: #1b263b;
	--primary-color: #0d1b2a;

}

body {

    background-color: var(--base-color);
    transition: 8s;
	overflow: hidden;
    
}

.wrapper {

    display: grid;
    margin: auto auto;
    color: var(--text-color);
    border-color: var(--base-variant);
    width: 100%;
    justify-content: left;
    align-items: center;
    text-align: center;

}

.darkmode-menu {

	margin: auto auto;
	height: auto;
	width: auto;

}

#theme-switch svg {

	fill: var(--text-color);

}

#theme-switch {

	height: 6.25rem;
	width: 6.25rem;
	border-radius: 50%;
	background-color: var(--base-variant);
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(2.5px);
    box-shadow: 10px 10px 5px;
	transition: 0.5s ease-in-out;

}

#theme-switch svg:last-child {

	display: none;

}

.darkmode #theme-switch svg:first-child {

	display: none;

}

.darkmode #theme-switch svg:last-child {

	display: block;

}

#theme-switch:hover {

	transform: translateY(0px)

}

.riseSet {

	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	padding-top: 20vh;
	overflow: hidden;

}

#sun {

	height: 500px;
	width: 500px;
	border-radius: 50%;
	background-color: rgb(247, 251, 18);
	box-shadow: 0 0 60px 30px rgb(247, 251, 18);

}

#moon {

	height: 500px;
	width: 500px;
	border-radius: 50%;
	background-color: rgb(85, 85, 85);
	box-shadow: 0 0 60px 30px rgb(43, 41, 41);

}

.sunUp {

	animation: sunUp 4s ease-in-out 1 reverse;
	opacity: 1;

}

.sunDown {

	animation: sunDown 4s ease-in-out 1;
	opacity: 0;

}

.moonUp {
	
	animation: moonUp 4s ease-in-out 1 reverse;
	opacity: 1;

}

.moonDown {

	animation: moonDown 4s ease-in-out 1;
	opacity: 0;

}

@keyframes sunUp {
	from {opacity: 1;}

	to {

		background-color: rgb(255, 0, 0);
		transform: translateY(90vh);
		box-shadow: 0 0 60px 30px rgb(255, 0, 0);
		opacity: 0;

	}
}

@keyframes sunDown {
	from {opacity: 1;}

	to {

		background-color: rgb(255, 0, 0);
		transform: translateY(90vh);
		box-shadow: 0 0 60px 30px rgb(255, 0, 0);
		opacity: 0;
	}
}

@keyframes moonUp {
	from {opacity: 1;}

	to {

		background-color: rgb(43, 41, 41);
		transform: translateY(90vh);
		box-shadow: 0 0 60px 30px rgb(43, 41, 41);
		opacity: 0;

	}
}

@keyframes moonDown {
	from {opacity: 1;}

	to {

		background-color: rgb(43, 41, 41);
		transform: translateY(90vh);
		box-shadow: 0 0 60px 30px rgb(43, 41, 41);
		opacity: 0;

	}
}